@import url("../fonts/Roboto.css");
@import url("./normalize.css");

body {
  margin: 0 5% 2%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  -webkit-text-decoration-color: #438f8e;
  text-decoration-color: #438f8e;
}

.main-headline {
  float: left;
  font-size: 4em;
  font-weight: 600;
  font-stretch: expanded;
  margin-top: 20px;
  text-shadow: -2px -2px 0 #f75c49, 1px -1px 0 #000, -1px 1px 0 #f75c49, 1.5px 1.5px 0 #000;
}

.main-headline a {
  color: #fff;
  font-stretch: expanded;
}

.main-headline:hover {
  text-shadow: -2.5px -2.5px 0 #ff1e00, 1px -1px 0 #000, -1px 1px 0 #f75c49, 2px 2px 0 #000;
}

.search {
  float: right;
  margin-top: 32px;
}

.search input {
  width: 200px;
  height: 30px;
}

.search button {
  margin-left: 10px;
}

.lower-header {
  clear: both;
  display: flex;
}

.lower-header button {
  margin-left: auto;
  margin-top: 10px;
}

.lower-header nav {
  margin-top: 20px;
}

.navigation {
  align-self: start;
  font-size: 1.6em;
  font-weight: 600;
  font-stretch: expanded;
}

.navigation-item {
  color: #f75c49;
  margin-right: 2.5vw;
}

.navigation-item:hover {
  color: #b71d09;
}

.def-btn {
  border: 1px solid #f75c49;
  background: white;
  color: #f75c49;
  padding: 6.5px 12px;
  font-weight: 600;
  cursor: pointer;
}

.def-btn:hover {
  background-color: #f75c49;
  color: #fff;
}

.big-btn {
  font-size: 1.6em;
  padding: 9px 20px;
}

.separator {
  margin: 50px 25vw 0;
  border: none;
  border-top: 2px solid rgb(91, 91, 91);
}

.clear-after {
  clear: both;
}

h2 {
  font-size: 2.6em;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}

.teacher-filter {
  display: flex;
  margin: 15px 0;
  flex-wrap: wrap;
}

.teacher-filter label {
  margin-right: 6.75px;
  margin-top: 6.75px;
  color: gray;
}

.teacher-filter select {
  width: 75px;
  height: 27px;
  border: 1px solid gray;
}

.vert-line {
  border-left: 1px gray dashed;
  height: 27px;
  margin: 0 15px;
}

.top-teachers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  -moz-column-gap: 120px;
  column-gap: 120px;
  width: 100%;
  margin: 50px 0;
}

.teacher {
  width: 170px;
}

.teacher-photo {
  border-radius: 100%;
  border: 4px solid #f75c49;
  width: 180px;
  cursor: pointer;
}

.teacher-photo:hover {
  border: 4px solid #ff1e00;
}

.no-teacher-photo {
  font-size: 4em;
  color: #f75c49;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 4px solid #f75c49;
  cursor: pointer;
}

.no-teacher-photo:hover {
  border: 4px solid #ff1e00;
}

.teacher-name {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}

.teacher-surname {
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
  margin: 0 0 8px 0;
}

.teacher-speciality {
  text-align: center;
  color: gray;
  margin-top: 10px;
}

.teacher-country {
  text-align: center;
  font-size: 0.9em;
  margin-top: 2px;
}

#statistics table {
  width: 100%;
  color: rgb(51, 51, 51);
  text-align: center;
  font-weight: lighter;
  border-collapse: collapse;
  border-style: hidden;
}

#statistics table thead {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1.5px solid rgb(91, 91, 91);
}

#statistics table td,
#statistics table th {
  font-weight: 100;
}

#statistics table th {
  padding: 13px 0;
  cursor: pointer;
}

#statistics table td {
  font-size: 1.2em;
  padding: 10px 0;
}

#statistics table td:first-child,
#statistics table th:first-child {
  text-align: left;
  padding-left: 15px;
}

#statistics table th:first-child {
  padding-left: 30px;
}

#statistics table th:hover {
  background-color: #f9f9f9;
  border-bottom: 2px solid #000;
  visibility: visible;
}

.table-arrow {
  color: #2e6c7d;
  visibility: hidden;
}

#statistics table th:hover .table-arrow {
  visibility: visible;
}

#statistics table tr:nth-child(even) {
  background: rgb(248, 244, 244);
}

#statistics table tr:nth-child(odd) {
  background: white;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
}

.pagination :first-child {
  color: black;
}

.pagination li {
  padding-right: 15px;
  color: #438f8e;
  cursor: pointer;
}

.favourites-without-heading {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
}

.favourites-without-heading .arrow {
  background: none;
  border: none;
  font-size: 4em;
  font-weight: 800;
  color: rgb(91, 91, 91);
  cursor: pointer;
}

.favourites-without-heading .favourite-teachers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 270px;
  overflow-y: hidden;
  row-gap: 20px;
}

.favourites-without-heading .favourite-teachers .teacher {
  margin: 0 30px;
}

#about {
  margin-top: 35px;
  text-align: left;
}

.teacher-info p {
  margin-bottom: 10px;
}

#about p {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: rgb(91, 91, 91);
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  background-color: #fefefe;
  margin: 3% auto;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 600px;
}

.info-content {
  background-color: #fefefe;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 400px;
}

.teacher-info {
  text-align: left;
}

.teacher-info-star {
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}

.info-content .teacher-info-map {
  margin-left: 15px;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

.info-content .teacher-info-photo {
  float: left;
  margin: 15px 25px 15px 15px;
  width: 200px;
}

.info-content .teacher-info-text {
  clear: both;
  margin: 35px 15px;
}

.info-content .teacher-info-name {
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: 2em;
}

.info-content .teacher-info-speciality {
  font-size: 1.3em;
  font-weight: 600;
}

.info-content .teacher-info-city-country {
  font-size: 0.9em;
}

.popup-header {
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: space-between;
}

.popup-close {
  margin: 5px 0;
  color: #fff;
  background-color: rgb(71, 71, 71);
  border: none;
  width: 40px;
}

h3 {
  font-size: 1.6em;
  margin: 10px;
  color: white;
  font-weight: 100;
}

.teacher-form {
  margin: 4%;
  text-align: left;
}

.teacher-form label {
  font-weight: lighter;
  color: rgb(91, 91, 91);
  margin-bottom: 5px;
}

.teacher-form label.block-label {
  display: block;
}

.teacher-form .full-width {
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
}

.teacher-form .fields-in-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.teacher-form .label-in-row {
  margin-right: 25px;
}

.teacher-form .sex-field {
  margin-bottom: 15px;
}

.teacher-form .sex-field input {
  margin-right: 15px;
}

.teacher-form .backcolor-field {
  margin-bottom: 15px;
}

.teacher-form .backcolor-field input {
  height: 18px;
}

.teacher-form .big-height {
  height: 75px;
  resize: none;
}

.large-btn {
  margin-top: 15px;
  width: 100%;
  height: 40px;
}

.star-btn {
  color: rgb(249, 249, 132);
  background: none;
  border: none;
}

.star-teacher-photo {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 2;
  margin-top: -150px;
  margin-left: -50px;
}

.marked-top {
  display: grid;
  grid-template-columns: 50fr 1fr;
}

@media only screen and (max-width: 830px) {
  .top-teachers {
    display: flex;
    justify-content: center;
    -moz-column-gap: 100px;
    column-gap: 100px;
  }

  .teacher-filter {
    row-gap: 10px;
    justify-content: center;
  }
}

@media only screen and (max-width: 620px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 560px) {
  .search {
    width: auto;
    margin: auto;
  }

  .upper-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-headline {
    font-size: 4.5em;
  }

  .lower-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lower-header button {
    width: 50%;
    margin: 15px auto;
  }

  .navigation {
    justify-content: stretch;
  }

  .top-teachers {
    -moz-column-gap: 50px;
    column-gap: 50px;
  }

  .separator {
    margin: auto 15vw;
  }

  #statistics table thead {
    font-size: 1.2em;
  }

  .teacher-info .teacher-info-photo {
    width: 160px;
  }
}

.info-hidden {
  display: none;
}

.form-hidden {
  display: none;
}
