$def-color: #f75c49;
$hover-color: #ff1e00;
$def-gray: rgb(91, 91, 91);

body {
    margin: 0 5% 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    text-decoration-color: #438f8e;
}

.main-headline {
    float: left;
    font-size: 4em;
    font-weight: 600;
    font-stretch: expanded;
    margin-top: 20px;
    text-shadow: -2px -2px 0 $def-color, 1px -1px 0 #000, -1px 1px 0 #f75c49, 1.5px 1.5px 0 #000;

    a {
        color: #ffffff;
        font-stretch: expanded;
    }

    &:hover {
        text-shadow: -2.5px -2.5px 0 $hover-color, 1px -1px 0 #000, -1px 1px 0 #f75c49, 2px 2px 0 #000;
    }
}

.search {
    float: right;
    margin-top: 20px + 12px;

    input {
        width: 200px;
        height: 30px;
    }

    button {
        margin-left: 10px;
    }

}

.lower-header {
    clear: both;
    display: flex;

    button {
        margin-left: auto;
        margin-top: 10px;
    }

    nav {
        margin-top: 20px;
    }
}

.navigation {
    align-self: start;
    font-size: 1.6em;
    font-weight: 600;
    font-stretch: expanded;

    &-item {
        color: $def-color;
        margin-right: 2.5vw;

        &:hover {
            color: #b71d09;
        }
    }
}

.def-btn {
    border: 1px solid #f75c49;
    background: white;
    color: #f75c49;
    padding: 9px 12px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $def-color;
        color: #ffffff;
    }
}

.big-btn {
    font-size: 1.6em;
    padding: 9px 20px;
}

.separator {
    margin: 50px 25vw 0px;
    border: none;
    border-top: 2px solid $def-gray;
}

.clear-after {
    clear: both;
}

h2 {
    font-size: 2.6em;
    text-align: center;
    margin: 30px 0px;
}

.teacher-filter {
    display: flex;
    margin: 15px 0px;
    flex-wrap: wrap;

    label {
        margin-right: 6.75px;
        margin-top: 6.75px;
        color: gray;
    }

    select {
        width: 75px;
        height: 27px;
        border: 1px solid gray;
    }
}

.vert-line {
    border-left: 1px gray dashed;
    height: 27px;
    margin: 0px 15px;
}

.top-teachers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 120px;
    width: 100%;
    margin: 50px 0px;
}

.teacher {
    width: 170px;
}

.teacher-photo {
    border-radius: 100%;
    border: 4px solid $def-color;
    width: 180px;
    cursor: pointer;

    &:hover {
        border: 4px solid $hover-color;
    }
}

.no-teacher-photo {
    font-size: 4em;
    color: $def-color;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 4px solid $def-color;

    &:hover {
        border: 4px solid $hover-color;
    }
}

.teacher-name {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
}

.teacher-surname {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: -14px 0px 8px 0px;
}

.teacher-speciality {
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.teacher-country {
    text-align: center;
    font-size: .8em;
    margin-top: -2px;
}

#statistics {
    table {
        width: 100%;
        color: rgb(51, 51, 51);
        text-align: center;
        font-weight: lighter;
        border-collapse: collapse;
        border-style: hidden;

        thead {
            font-size: 1.5em;
            text-align: center;
            border-bottom: 1.5px solid $def-gray;
        }

        td,
        th {
            font-weight: 100;

            &:first-child {
                text-align: left;
                padding-left: 15px;
            }
        }

        th {
            padding: 13px 0;
            cursor: pointer;

            &:first-child {
                padding-left: 30px;
            }

            &:hover {
                background-color: #f9f9f9;
                border-bottom: 2px solid #000;
                visibility: visible;
            }
        }

        th:hover .table-arrow {
            visibility: visible;
        }

        td {
            font-size: 1.2em;
            padding: 10px 0px;
        }

        tr:nth-child(even) {
            background: rgb(248, 244, 244);
        }

        tr:nth-child(odd) {
            background: white;
        }
    }
}

.table-arrow {
    color: #2e6c7d;
    visibility: hidden;
}

.pagination {
    margin-top: 20px;
    margin-left: -25px;
    list-style-type: none;
    display: flex;

    :first-child {
        color: black;
    }

    li {
        padding-right: 15px;
        color: #438f8e;
        cursor: pointer;
    }
}

.favourites-without-heading {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;

    .arrow {
        background: none;
        border: none;
        font-size: 4em;
        font-weight: 800;
        color: $def-gray;
        cursor: pointer;
    }

    .favourite-teachers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 220px;
        overflow-y: hidden;

        .teacher {
            margin: 0px 30px;
        }
    }
}

#about {
    margin-top: 35px;

    p {
        font-size: 1.1em;
        color: $def-gray;
    }
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    background-color: #fefefe;
    margin: 3% auto;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 600px;
}

.info-content {
    background-color: #fefefe;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.4);
    width: 600px;
    height: 400px;

    .teacher-info-map {
        margin-left: 15px;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 5px;
    }

    .teacher-info-photo {
        float: left;
        margin: 15px 25px 15px 15px;
        width: 200px;
    }

    .teacher-info-text {
        clear: both;
        margin: 35px 15px;
    }

    .teacher-info-name {
        margin-top: 18px;
        font-size: 2em;
    }

    .teacher-info-speciality {
        font-size: 1.3em;
        font-weight: 600;
    }

    .teacher-info-city-country {
        font-size: 0.9em;
    }
}

.popup-header {
    background-color: rgb(71, 71, 71);
    display: flex;
    justify-content: space-between;
}

.popup-close {
    margin: 5px 0;
    color: #ffffff;
    background-color: rgb(71, 71, 71);
    border: none;
    width: 40px;
}

h3 {
    font-size: 1.6em;
    margin: 10px;
    color: white;
    font-weight: 100;
}

.teacher-form {
    margin: 4%;

    label {
        font-weight: lighter;
        color: $def-gray;
        margin-bottom: 5px;

        &.block-label {
            display: block;
        }
    }

    .full-width {
        margin-bottom: 10px;
        height: 30px;
        width: 100%;
        box-sizing: border-box;
    }

    .fields-in-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .label-in-row {
        margin-right: 25px;
    }

    .sex-field {
        margin-bottom: 15px;

        input {
            margin-right: 15px;
        }
    }

    .backcolor-field {
        margin-bottom: 15px;

        input {
            height: 18px;
        }
    }

    .big-height {
        height: 75px;
        resize: none;
    }
}

.large-btn {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}

.star-btn {
    color: rgb(249, 249, 132);
    background: none;
    border: none;
}

.teacher-info {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.star-teacher-photo {
    position: relative;
    grid-row-start: 1;
    grid-column-start: 2;
    margin-top: -150px;
    margin-left: -50px;
}

.marked-top {
    display: grid;
    grid-template-columns: 50fr 1fr;
}

@media only screen and (max-width: 830px) {

    .top-teachers {
        display: flex;
        justify-content: center;
        column-gap: 100px;
    }

    .teacher-filter {
        row-gap: 10px;
        justify-content: center;
    }


}

@media only screen and (max-width: 620px) {

    body {
        font-size: 10px;
    }
}

@media only screen and (max-width: 560px) {

    .search {
        width: auto;
        margin: auto;
    }

    .upper-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-headline {
        font-size: 4.5em;
    }

    .lower-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        button {
            width: 50%;
            margin: 15px auto;
        }
    }

    .navigation {
        justify-content: stretch;
    }

    .top-teachers {
        column-gap: 50px;
    }

    .separator {
        margin: auto 15vw;
    }

    #statistics {

        table thead {
            font-size: 1.2em;
        }
    }

    .teacher-info .teacher-info-photo {
        width: 160px;
    }
}

.info-hidden {
    display: none;
}

.form-hidden {
    display: none;
}